{% extends 'users/user_base.html' %}
{% load static %}
{% block title %}Учитель{% endblock title %}
{% block user_css %}
  <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
{% endblock user_css %}

{% block user_javascript %}
  <script defer src="{% static 'js/teacher.js' %}"></script>
{% endblock user_javascript %}

{% block cabinet-data %}
  <div class="cabinet-data data" id="modal-user_cabinet">
    <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
    <h2 class="data__title">Личные данные</h2>
    <div class="data__img open_modal" data-modal="modal-user_img"><img
      src="{% if user_info.photo %}{{ user_info.photo.url }}{% else %}{% static 'images/noname_user.png' %}{% endif %}"
      alt=""><span>Изменить фото</span>
    </div>

    <div class="data__text">
      <div class="data__info"><span>Дата рождения</span><span>{{ user_info.birthday|default:"Отсутствует" }}</span>
      </div>
      <div class="data__info"><span>E-mail</span><span>{{ user.email|default:"Отсутствует" }}</span></div>
      <div class="data__info"><span>Телефон</span><span>{{ user_info.phone|default:"Отсутствует" }}</span></div>
      {% if user_info.last_name %}
        <div class="data__info">
          <span>ФИО</span><span>{{ user_info.last_name|default:"" }} {{ user_info.first_name|default:"" }}
          {% if user_info.second_name != 'None' %} {{ user_info.second_name }}{% endif %}</span></div>
      {% else %}
        <div class="data__info"><span>ФИО</span><span>Отсутствует</span></div>
      {% endif %}

    </div>
    <div class="btn btn-change-data open_modal" data-modal="modal-user_data">Редактировать данные</div>
    <div class="btn btn-change open_modal" data-modal="modal-account_data">Изменить пароль</div>
  </div>
{% endblock cabinet-data %}

{% block add_custom_modal %}
  <div class="modal modal-data" id="modal-user_data">
    <div class="modal-content">
      <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
      <h2 class="modal__title">Изменение данных</h2>
      <form action="{% url 'teachers:profile' %}update-info/{{ user_info.pk }}/" method="post" class="modal__form">
        <span class="form-error error-message"></span>
        <input type="text" placeholder="{{ user_info.last_name|default_if_none:"Фамилия" }}" name="last_name"
               value="{{ user_info.last_name }}">
        <span class="error-message"></span>
        <input type="text" placeholder="{{ user_info.first_name|default:"Имя" }}" name="first_name"
               value="{{ user_info.first_name }}">
        <span class="error-message"></span>
        <input type="text" placeholder="Отчество" name="second_name" {% if user_info.second_name != 'None' %}
               value="{{ user_info.second_name }}" {% endif %}>
        <span class="error-message"></span>
        <input type="text" placeholder="{{ user_info.phone|default:"Телефон" }}" name="phone" class=mask-phone
               value="{{ user_info.phone }}">
        <span class="error-message"></span>
        <input type="date" placeholder="{{ user_info.birthday|default:"День рождения" }}" name="birthday"
               value="{{ user_info.birthday|date:"Y-m-d"}}">
        <span class="error-message"></span>
        <input type="submit" value="Изменить данные">
        {% csrf_token %}
      </form>
    </div>
  </div>
  <div class="modal modal-data" id="modal-lesson_management">
    <div class="modal-content">
      <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
      <h2 class="modal__title">Занятие</h2>
      <span class="teacher_name">{{ user_info.get_full_name|default:"Не заполнено имя" }}</span>
      <span class="date_lesson">{{ user_info.get_full_name|default:"Не заполнено имя" }}</span>
      <form action="" method="post" class="modal__form">

        <span class="form-error error-message"></span>
        <input type="text" name="teacher" placeholder="Учитель" required hidden id="id_teacher"
               value="{{ user_info.id }}">
        <input type="text" name="date" placeholder="Учитель" required hidden id="id_date">
        <input type="text" name="id_lesson" placeholder="Учитель" required hidden id="id_lesson">
        {{ form_lesson.type_lesson }}
        <span class="error-message"></span>
        {{ form_lesson.time }}
        <span class="error-message"></span>
        <div class="lesson-created">
          <h4 class="modal__title">Домашнее задание</h4>
          {{ form_lesson.homework_text }}
          <span class="error-message"></span>

        </div>
        <input type="submit" value="Создать занятие">
        {% csrf_token %}
      </form>
      <div class="text-flex">
        <span class="open_modal" data-modal="modal-lesson_student">Ученики</span>
        <span class="open_modal" data-modal="modal-lesson_homework">Домашняя работа</span>
      </div>
    </div>
  </div>
  <div class="modal modal-data" id="modal-lesson_student">
    <div class="modal-content">
      <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
      <h2 class="modal__title">Посетители</h2>
      <form action="{% url 'teachers:update_visitors' %}" method="post" class="modal__form">
        <p>Имя учителя</p>
        <p>Тип занятие | время занятия</p>
        <p>УЧЕНИКИ</p>
        <div class="multi-field-wrapper">
          <div class="multi-fields">
            <input type="text" name="id_lesson" hidden="" class="form_id_lesson">
            <div class="multi-field">
              <input type="text" name="student_0" placeholder="Введите ФИО ученика" class="form_id_student"
                     list="list_all_students">
            </div>
          </div>
          <datalist id="list_all_students">
            {% for student in all_students %}
              <option value="{{ student.get_full_name }} id: {{ student.id }}">{{ student.get_full_name }}</option>
            {% endfor %}
          </datalist>
          <div class="text-flex">
            <button type="button" class="remove-field btn">Удалить</button>
            <button type="button" class="add-field btn">Добавить ученика</button>
          </div>
        </div>
        <span class="form-error error-message"></span>
        <span class="error-message"></span>

        <input type="submit" value="Сохранить">
        {% csrf_token %}
      </form>
      <span class="open_modal" data-modal="modal-lesson_management">Назад</span>

    </div>
  </div>
  </div>
  <div class="modal modal-data" id="modal-lesson_homework">
    <div class="modal-content">
      <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
      <h2 class="modal__title">Домашняя работа</h2>
      <form action="{% url 'teachers:update_homework_file' %}" method="post" class="modal__form">
        <p>Имя учителя</p>
        <p>Тип занятие | время занятия</p>
        <p>Домашняя работа</p>
        <div class="multi-field-wrapper">
          <div class="multi-fields">
            <input type="text" name="lesson" hidden="" class="form_id_lesson">
            <div class="multi-field">
              <input type="file" name="homework_0" placeholder="Выберите файл" class="form_file_homework">
            </div>
          </div>
          <div class="text-flex">
            <button type="button" class="remove-field btn">Удалить</button>
            <button type="button" class="add-field btn">Добавить файл</button>
          </div>
        </div>
        <span class="form-error error-message"></span>
        <span class="error-message"></span>

        <input type="submit" value="Сохранить">
        {% csrf_token %}
      </form>
      <span class="open_modal" data-modal="modal-lesson_management">Назад</span>
    </div>
  </div>
{% endblock add_custom_modal %}

{% block inline_javascript %}
  <script>
    let lessons_json = JSON.parse('{{ lessons_for_calendar|escapejs }}')
    let type_lessons_json = JSON.parse('{{ available_lesson|escapejs }}')
    let input_type_lesson = document.getElementById('id_type_lesson')
    let input_time = document.getElementById('id_time')
  </script>
{% endblock inline_javascript %}
