{% extends 'users/user_base.html' %}
{% load static %}
{% block title %}Учитель{% endblock title %}
{% block user_css %}
  <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
{% endblock user_css %}

{% block user_javascript %}
  <script defer src="{% static 'js/teacher.js' %}"></script>
{% endblock user_javascript %}

{% block cabinet-data %}
  <div class="cabinet-data data">
    <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
    <h2 class="data__title">Личные данные</h2>
    <div class="data__img"><img
      src="{% if user_info.photo %}{{ user_info.photo.url }}{% else %}{% static 'images/noname_user.png' %}{% endif %}"
      alt=""><span>Изменить фото</span>
    </div>

    <div class="data__text">
      <div class="data__info"><span>Дата рождения</span><span>{{ user_info.birthday|default:"Отсутствует" }}</span>
      </div>
      <div class="data__info"><span>E-mail</span><span>{{ user.email|default:"Отсутствует" }}</span></div>
      <div class="data__info"><span>Телефон</span><span>{{ user_info.phone|default:"Отсутствует" }}</span></div>
      {% if user_info.last_name %}
        <div class="data__info">
          <span>ФИО</span><span>{{ user_info.last_name|default:"" }} {{ user_info.first_name|default:"" }}
          {% if user_info.second_name != 'None' %} {{ user_info.second_name }}{% endif %}</span></div>
      {% else %}
        <div class="data__info"><span>ФИО</span><span>Отсутствует</span></div>
      {% endif %}

    </div>
    <div class="btn btn-change-data">Редактировать данные</div>
    <div class="btn btn-change">Изменить пароль</div>
  </div>
{% endblock cabinet-data %}

{% block add_custom_modal %}
  <div class="modal modal-data" id="modal-data">
    <div class="modal-content">
      <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
      <h2 class="modal__title">Изменение данных</h2>
      <form action="{% url 'teachers:profile' %}update-info/{{ user_info.pk }}/" method="post" class="modal__form">
        <span class="form-error error-message"></span>
        <input type="text" placeholder="{{ user_info.last_name|default:"Фамилия" }}" name="last_name"
               value="{{ user_info.last_name }}">
        <span class="error-message"></span>
        <input type="text" placeholder="{{ user_info.first_name|default:"Имя" }}" name="first_name"
               value="{{ user_info.first_name }}">
        <span class="error-message"></span>
        <input type="text" placeholder="Отчество" name="second_name" {% if user_info.second_name != 'None' %}
               value="{{ user_info.second_name }}" {% endif %}>
        <span class="error-message"></span>
        <input type="text" placeholder="{{ user_info.phone|default:"Телефон" }}" name="phone" class=mask-phone
               value="{{ user_info.phone }}">
        <span class="error-message"></span>
        <input type="date" placeholder="{{ user_info.birthday|default:"День рождения" }}" name="birthday"
               value="{{ user_info.birthday|date:"Y-m-d"}}">
        <span class="error-message"></span>
        <input type="submit" value="Изменить данные">
        {% csrf_token %}
      </form>
    </div>
  </div>
  <div class="modal modal-data" id="create_update_lesson">
    <div class="modal-content">
      <a href="#" class="modal__close"><img src="{% static 'images/close.svg' %}" alt="х"></a>
      <h2 class="modal__title">Занятие</h2>
      <form action="{% url 'teachers:update_lesson' %}" method="post" class="modal__form">
        <span class="form-error error-message"></span>
        {% for field in form_lesson %}
          {{ field }}
          <span class="error-message"></span>
        {% endfor %}
        <input type="submit" value="Создать занятие">
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock add_custom_modal %}

{% block inline_javascript %}
  <script>
    let lessons_json = JSON.parse('{{ lessons_for_calendar|escapejs }}')
    console.log(lessons_json)
  </script>
{% endblock inline_javascript %}
